﻿@{
    ViewData["Title"] = "Person Page";
}
@model List<Infrastructure.DtoModel.ReportDetailDto>
<div class="text-left">
    <h3 class="display-5">Rapor Listesi</h3>
</div>

<div class="">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Konum</td>
            <td>Kişi Sayısı</td>
            <td>Telefon No Sayısı</td>
        </tr>
        </thead>
        <tbody>
        @if(Model != null)
        {
            foreach (var reportDetail in Model)
            {
                <tr>
                    <td>@reportDetail.Location</td>
                    <td>@reportDetail.PersonCount</td>
                    <td>@reportDetail.TelNoCount</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>