﻿@{
    ViewData["Title"] = "Person Page";
}
@model List<Infrastructure.DtoModel.ReportDto>
<div class="text-left">
    <h3 class="display-5">Rapor Listesi</h3>
</div>

<div class="">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Tarih</td>
            <td>Durum</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        @if(Model != null)
        {
            foreach (var report in Model)
            {
                <tr>
                    <td>@report.ReportDate</td>
                    <td>@report.ReportState</td>
                    <td class="text-right">
                        <a href="/report/detail/@(report.ReportId)" class="btn btn-info">Detay</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>