﻿@{
    ViewData["Title"] = "Person Page";
}

<div class="text-center">
    <h3 class="display-5">Raporunuz hazırlanıyor. Aşağıdaki bağlantıdan takip edebilirsiniz</h3>
    <a href="/report/reportlist">Raporlarım</a>
</div>

