﻿@{
    ViewData["Title"] = "Person Page";
}
@model List<Infrastructure.DtoModel.ContactDto>

<div class="text-left">
    <h3 class="display-5">İletişim Bilgileri</h3>
</div>

<div class="">
    <a class="btn btn-primary my-3" href="/Person/NewContact/@(ViewBag.PersonId)">Yeni İletişim Bilgisi</a>
    
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Email</td>
            <td>Telno</td>
            <td>Konum</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.Email</td>
                    <td>@contact.TelNo</td>
                    <td>@contact.Location</td>
                    <td class="text-right">
                        <a href="/Person/RemoveContact/@(ViewBag.PersonId + "/?contactId=" + contact.Id)" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>