﻿@{
    ViewData["Title"] = "Person Page";
}
@model List<Infrastructure.DtoModel.PersonDto>

<div class="text-left">
    <h3 class="display-5">Person List</h3>
</div>

<div class="">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Ad</td>
            <td>Soyad</td>
            <td>Şirket</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        @if(Model != null)
        {
            foreach (var person in Model)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Surname</td>
                    <td>@person.Company</td>
                    <td class="text-right">
                        <a href="/Person/Contact/@(person.PersonId)" class="btn btn-info">İletişim</a>
                        <a href="/Person/DeletePerson/@(person.PersonId)" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>