﻿@{
    ViewData["Title"] = "Person Page";
}
@model Infrastructure.DtoModel.ContactDto

<div class="text-left">
    <h3 class="display-5">New Person</h3>
</div>

<div class="">
    <form asp-controller="Person" asp-action="AddContact" method="post">
        <div class="row">
            <div class="col-lg-6">
                <label>Email</label>
                <input type="text" class="form-control" asp-for="Email"/>
            </div>
            <div class="col-lg-6">
                <label>Tel No</label>
                <input type="text" class="form-control" asp-for="TelNo"/>
            </div>
            <div class="col-lg-12">
                <label>Konum</label>
                <input type="text" class="form-control" asp-for="Location"/>
            </div>
            <input asp-for="PersonId" value="@ViewBag.PersonId" style="display: none"/>
        </div>

        <div class="row">
            <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-primary mt-3">
                    Kaydet
                </button>
            </div>
        </div>
    </form>
</div>