﻿@{
    ViewData["Title"] = "Person Page";
}
@model Infrastructure.DtoModel.PersonDto

<div class="text-left">
    <h3 class="display-5">New Person</h3>
</div>

<div class="">
    <form asp-controller="Person" asp-action="CreatePerson" method="post">
        <div class="row">
            <div class="col-lg-6">
                <label>Ad</label>
                <input type="text" class="form-control" asp-for="Name"/>
            </div>
            <div class="col-lg-6">
                <label>Soyad</label>
                <input type="text" class="form-control" asp-for="Surname"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>Şirket</label>
                <input type="text" class="form-control" asp-for="Company"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-primary mt-3">
                    Kaydet
                </button>
            </div>
        </div>
    </form>
</div>